.loginpage
{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pexels-pixabay-276583.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;

}.login{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  input{
    width: 200px;
    height: 30px;
    border-radius: 8px;
  }
  #s
  {
    font-size: 13px;
    margin-left: 30px;
  }
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 700px;
    height: 500px;
  }
  input{
    width: 200px;
    height: 30px;
    border-radius: 8px;
  }
  #s
  {
    font-size: 13px;
    margin-left: 30px;
  }